
	<form action="/send" method="post" id="edit">   
	  <input type="text" placeholder="what's your email?" name="email"></text>
	  <input type="submit" value="send">  
	</form>  
	<p><a href="/">Cancel</a></p>  