<% if @item %>  
  <p>Remove <%= @item.amt %> <%= @item.name %>?</p>  
  <form action="/<%= @item.id %>" method="post">  
    <input type="hidden" name="_method" value="delete">  
    <input type="submit" value="Yes!">  
    <a href="/">cancel</a>  
  </form>  
<% else %>  
  <p>not found.</p>  
<% end %> 